{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-home-header">
        {{> "site-nav"}}
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="main-image">
        <img src="./assets/images/main-image.jpg" alt="Person using a laptop" >
    </div>
    <p class="body-text">
        Bacon ipsum dolor amet bresaola spare ribs porchetta ball tip cow ground round pork loin bacon beef flank prosciutto kielbasa landjaeger kevin short ribs. Short loin pastrami biltong shank andouille leberkas. Meatloaf ground round shank, biltong ham shoulder jerky turducken porchetta brisket chuck kielbasa frankfurter alcatra pork chop. Beef ribs kielbasa tail frankfurter pastrami, meatball swine turkey short loin capicola chuck rump turducken hamburger chislic.
    </p>
    <div class="small-images">
        <div class="small-image">
            <img src="./assets/images/photo-of-people-sitting-near-wooden-table-3183146.jpg" alt="Person using a laptop" >
        </div>
        <div class="small-image">
            <img src="./assets/images/photo-of-people-sitting-near-wooden-table-3183190.jpg" alt="Person using a laptop" >
        </div>
    </div>
    <div class="contact-form">
        <h3>Contact</h3>
        <form id="form" method="post" enctype="text/plain">
            <input type="text" id="fname" name="name" placeholder="Name"><br>
            <input type="text" id="lname" name="email" placeholder="Email"><br>
            <textarea id="subject" name="message" placeholder="Write something.." style="height:200px"></textarea><br>
            <input type="text" id="sendto" name="receiver" placeholder="Send this message to:"><br>
            {{!-- <button type="button" onclick="getEmail()">Click me</button> --}}
            <input type="submit" value="Send" onclick="return getEmail()">
        </form>
    </div>
    
</main>

{{> site-header}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {
        
        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.post-feed');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = feed.getBoundingClientRect().top + window.scrollY;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 20) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }
        

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();

    });
    function getEmail() {
        var receiver = document.getElementById("sendto").value;
        document.getElementById("form").setAttribute("action",`mailto:${receiver}`);            
        console.log("Success!");
        document.getElementById("form").submit();
        console.log("Success!");
        return true;
    }
</script>
{{/contentFor}}